@font-face {
    font-family: 'Minecraftia';
    src: url('../fonts/Minecraftia-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.04em;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    background: #35363A;
    user-select: none;
    font-family: 'Minecraftia';
    color: white;
}

#fullscreen-image {
    z-index: -1;
}

#weather-container {
    position: absolute;
    top: 10vh;
    right: 10vw;
}

#weather-container div {
    margin-bottom: 1em;
}

#description {
    display: inline-block;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 0.25em;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
    line-height: 0;
}

#conditions {
    display: inline-block;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 0.25em;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
    line-height: 0;
}

#attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 0.25em;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
    line-height: 0;
}

#last-updated {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 0.4em;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.4);
    line-height: 0;
}

#loading-pane {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #35363A;
    transition: opacity 0.4s;
}

/* Spinner based on Alex Warnes's method (https://codepen.io/AlexWarnes/pen/jXYYKL) */

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 33%, rgba(255, 255, 255, 1) 100%);
    animation: spin 0.8s linear 0s infinite;
}

.spinner-center {
    width: 100%;
    height: 100%;
    background-color: #35363A;
    border-radius: 50%;
}

#help {
    text-align: center;
    padding: 2em;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.4s;
}

#help p {
    margin-bottom: 1em;
    padding: 0 0.25em;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
}
